<h2 class="mb-4"> Jazdy szkoleniowe </h2>
<p> Sprawdź, jakie jazdy masz już za sobą i umów się z ulubionym instruktorem na kolejną.</p>
<br>
<!--Zajęcia oczekujące (zgłoszone lub zaakceptowane)-->
<table class="table table-bordered">
  <thead class="thead-dark text-truncate">
  <tr>
    <th scope="col" style="width: 300px"> Instruktor</th>
    <th scope="col" style="width: 250px"> Status</th>
    <th scope="col" style="width: 200px"> Rozpoczęcie</th>
    <th scope="col" style="width: 200px"> Zakończenie</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lesson of waitingLessons" style="background-color: lightyellow">
    <td style="width: 300px">{{convertEmployee(lesson.employee)}}</td>
    <td style="width: 250px">{{translateStatus(lesson.lessonStatus)}}</td>
    <td style="width: 200px">{{convertDate(lesson.startTime)}}</td>
    <td style="width: 200px">{{convertDate(lesson.endTime)}}</td>
  </tr>
  </tbody>
</table>

<!--Zajęcia zrealizowane-->
<table class="table table-bordered">
  <tbody>
  <tr *ngFor="let lesson of passedLessons" style="background-color: #d8ffd6">
    <td style="width: 300px">{{convertEmployee(lesson.employee)}}</td>
    <td style="width: 250px">{{translateStatus(lesson.lessonStatus)}}</td>
    <td style="width: 200px">{{convertDate(lesson.startTime)}}</td>
    <td style="width: 200px">{{convertDate(lesson.endTime)}}</td>
  </tr>
  </tbody>
</table>

<!--Zajęcia niezrealizowane lub odrzucone-->
<table class="table table-bordered">
  <tbody>
  <tr *ngFor="let lesson of failedLessons" style="background-color: #ffeaea">
    <td style="width: 300px">{{convertEmployee(lesson.employee)}}</td>
    <td style="width: 250px">{{translateStatus(lesson.lessonStatus)}}</td>
    <td style="width: 200px">{{convertDate(lesson.startTime)}}</td>
    <td style="width: 200px">{{convertDate(lesson.endTime)}}</td>
  </tr>
  </tbody>
</table>
