<div class="background">
  <div class="form">
    <div class="title">SZKOŁA JAZDY
      <p>Dopiero zaczynasz naukę? <a routerLink="/register"><strong>Załóż konto!</strong></a></p>
    </div>
    <form name="form">
      <label>
        <input type="text" placeholder="Adres email" [(ngModel)]="email" name="email"/>
      </label>
      <label>
        <input type="password" placeholder="Hasło" [(ngModel)]="password" name="password"/>
      </label>
      <button (click)=login()>ZALOGUJ SIĘ</button>
    </form>
  </div>
</div>
